body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .bgimg {
    background-image: url('https://images.unsplash.com/photo-1501747315-124a0eaca060?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NjA3OTd8MHwxfGFsbHwxfHx8fHx8fHwxNjk0NTUxNzI5fA&ixlib=rb-4.0.3&q=100&w=1920');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .w3-text-white {
    font-size: 73px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: Add shadow for a 3D effect */
    font-family: "Fantasy";
  }

  /* Centering navigation bar */
  .w3-row {
    display: flex;
    justify-content: center;
  }

  .w3-col {
    flex: 1;
    max-width: 200px;
  }

  .w3-button {
    text-align: center;
    padding: 16px;
  }

  .w3-content {
    max-width: 700px;
    margin: auto;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%; /* Adjust this value to change the image size */
  }

  /* Style for the quote */
  .w3-quote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
    font-style: italic;
    color: #555;
  }

  /* Menu Iteams Images */
  .menu-title-box {
    text-align: center;
    padding: 40px; /* Adjust padding to increase the size of the box */
    margin-top: 55px; /* Adjust as needed */
  }

  .menu-item {
    margin-bottom: 20px;
  }

  .menu-image {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
  }